<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="astro">
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find astro_hardware_interface)/urdf/astro_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find astro_hardware_interface)/urdf/astro.materials.xacro" />

  <!-- Import astro ros2_control description -->
  <xacro:include filename="$(find astro_hardware_interface)/ros2_control/astro.ros2_control.xacro" />

  <xacro:astro prefix="$(arg prefix)" />

  <xacro:astro_ros2_control
    name="Astro" prefix="$(arg prefix)" />

</robot>
